# Python
backend/venv/
backend/__pycache__/
*.pyc
*.pyo

# Node
frontend/node_modules/
frontend/dist/
frontend/.vite/

# Editor
.vscode/
*.env

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
