# Exporta estas variables antes de correr docker compose
# Linux: export SECRET_KEY=valor
# Windows PS: $env:SECRET_KEY="valor"

SECRET_KEY=nintanga-provefrut-2024-secretkey
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1
DYNAMODB_TABLE=Marcaciones
