# Copia como .env y completa los valores

# API interna de marcaciones
API_ASISTENCIA_URL=http://172.20.4.69:8000/api/cargar-asistencia/

# AWS
AWS_ACCESS_KEY_ID=tu_access_key
AWS_SECRET_ACCESS_KEY=tu_secret_key
AWS_REGION=us-east-1

# DynamoDB
DYNAMODB_TABLE=Marcaciones

# Intervalo de sincronización en minutos (default: 15)
INTERVALO_MINUTOS=15
